<ion-header>
  <ion-toolbar>
    <ion-title>Opinion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Apps moviles</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h5>Actualmente las aplicaciones móviles se han convertido en mucho más que un añadido para la vida cotidiana de las personas, además de los miles de juegos y otros medios de entretenimiento que se encuentran en las tiendas de aplicaciones, también hay apps de enseñanza, algunas que mantienen un registro de cuanto ejercicio has hecho, apps para monitorear cámaras de seguridad, y ahí entramos en la evolución del mercado de aplicaciones, mejorar la calidad de vida de las personas.</h5>
        <br><br>
        <h5>Además, al conectar los dispositivos móviles con otros dispositivos, como las lavadoras inteligentes que avisan si necesitan intervención o han terminado, los refrigeradores inteligentes pueden notificar si se requiere algún artículo de despensa e incluso tienen integrada la capacidad de usar el navegador.</h5>
        <br><br>
        <h5>Para nosotros es una muy buena oportunidad el tener esta capacidad de conectividad, no solo para simplificar la manera en la que interactuamos con las maquinas, sino que también abre las posibilidades para el desarrollo de nuevos aparatos y formas de conectarnos, con todas las facilidades que nos da la versatilidad de los dispositivos móviles.</h5>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
