<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mercado de aplicaciones 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aplicaciones móviles: el actual mercado de entretenimiento dominante</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card>  
      <ion-card-content>
        <center>
          <ion-card-title><h1>Aplicaciones móviles: el actual mercado de entretenimiento dominante</h1></ion-card-title>
        </center>
        <br>
        <ion-text color="dark"><h6>Desde la creación de la app store con la introducción del iPhone, este mercado no ha parado de crecer, incluso creando una nueva rama de mercado, la cual incluso supero el estimado de 189.000 millones de dólares en ingresos para el 2020</h6></ion-text>
      </ion-card-content>
      
    </ion-card>
  <center>
    <ion-card>  
      <ion-card-content>
        <ion-img src="assets\Img_tab2\El gran negocio de las apps.jpg" width="20" height="30"> </ion-img>
        <br>
        <ion-img src="assets\Img_tab2\Worldwide-App-revenue.png" width="50%" height="50%"> </ion-img>
        <br>
        <h8>Datos de ganancias de aplicaciones en dolares</h8>
      </ion-card-content>
    </ion-card>
  </center>
  <ion-card>  
    <ion-card-content>
      <ion-text color="dark"><h6>El uso de las aplicaciones móviles ha crecido exponencialmente, junto con el aumento de dispositivos móviles que circulan en el mercado, la cifra de teléfonos inteligentes en uso en el 2022 es mas de 6,648 millones de dispositivos, cifra que aumenta cada día.</h6></ion-text>
      <br>
      <ion-img src="assets\Img_tab2\smartphone users.PNG" width="50%" height="30%"> </ion-img>
      <br>
      <h8>Datos de usuarios de smartphone a nivel mundial en miles de millones</h8>
    </ion-card-content>
  </ion-card>
  
    <ion-card>  
      <ion-card-content>
        <center><ion-img src="assets\Img_tab2\Sensor tower.png" width="30%" height="30%"> </ion-img></center>
        <br>
        <h8>Distribucion de aplicaciones en las tiendas oficiales</h8>
      </ion-card-content>
    </ion-card>
  <ion-card>  
    <ion-card-content>
      <ion-text color="dark"><h6>Asimismo, el ecosistema de las tiendas oficiales goza de un crecimiento exponencial y con él una economía bastante saludable, lo que ha impulsado la creación de empleo especializado, ya sea directo e indirecto, ya que aprovechar este mercado ayuda a todo tipo de empresas alrededor del mundo.</h6></ion-text>
      <br>
      <ion-img src="assets\Img_tab2\Gasto en apps.png" width="50%" height="30%"> </ion-img>
      <br>
      <h8>Datos de usuarios gastando en aplicaciones en las tiendas oficiales</h8>
      <center><a href="https://www.tekrevol.com/blogs/how-much-money-can-app-make/" target="_blank"><button expand="block" class="btn_link" >Más informacion</button></a></center>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>