*{
    // border:1px solid rgb(255, 0, 0) ;
}
.intro{
    background-color: rgb(18, 16, 16);

}

.btn_link{
    color: rgb(218, 218, 218);
    background: gray;
    border-radius: 10%;
    padding: 7px;
}