<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROMOCIONAR TU APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">PROMOCIONAR TU APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="intro">
    <ion-card-content>
      El listar aplicaciones similares a nuestra aplicación, nos ayuda a hacer un análisis de 
      la competencia. También hacer un análisis sobre los sitios web o empresas afines, que este relacionadas 
      o que tengan que ver algo de lo que está diseñada nuestra aplicación, nos pueden ayudar a que estos sitios 
      nos den su opinión de la aplicación y así ver si puede ser rentable el uso de esta aplicación.
      <br>
      Recibir este tipo de opiniones y mostrar al mercado nuestra app nos puede ayudar a promocionar de uno u 
      otra manera la app:
      <br><br>
      <center><a href="https://blog.hubspot.es/website/como-promocionar-app" target="_blank">
        <button expand="block" class="btn_link" >Conoce más</button>
      </a></center>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Utilización de notas de prensa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Conocer todos los medios de este sector ayuda a que pueda promocionar nuestra app y optener opiniones de ella,
      generando contenido e información de la app a distintos medios de comunicación, haciendo que llegue a mas publico
      y asi porder tener mas clientes.
    </ion-card-content> 
    <center><img src="assets/Img_tab3/1.png" width="90%" height="90%"></center> 
    <br>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear videos de demostración </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Crear un video en donde muestre el contenido y el cómo usar tu aplicación, ayuda
       a que las personas se interesen más en tu aplicación, esto nos permite resaltar 
       de las demás aplicaciones que hay en el mercado. 
       <br>
       Aquí un ejemplo de un video de demostración de una app:
    </ion-card-content> 
    <center><iframe width="80%" height="80%" src="https://www.youtube.com/embed/-CWzAd7Nq5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <br>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lanzar un sitio web promocional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tener una página web promocional ayuda o solo una pagina de descargas ayuda 
      que los usuarios estén un poco mas conectados con la aplicación y ayuda a que 
      se haga mas conocida así todavía no haya salido al mercado. 
    </ion-card-content> 
    <center><img src="assets/Img_tab3/2.png" width="90%" height="90%"></center> 
    <br>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Presentar tu app en diferentes canales </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La publicidad es otra forma de difundir tu app. Mostrarla en las diferentes redes sociales que usan 
      muchas personas actualmente, podría ayudar de gran manera a que obtenga mayor visibilidad y pueda llegar
       a más personas.
    </ion-card-content> 
    <center><img src="assets/Img_tab3/3.jpg" width="90%" height="90%"></center> 
    <br>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mantener un feedback activo </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Algo que le gusta mucho a los usuarios es que sepan que estas escuchando sus sugerencias y comentarios, 
      por eso es muy importante que crees un centro de sugerencias que concentre lo que los usuarios dicen sobre 
      tu aplicación.
    </ion-card-content> 
    <center><img src="assets/Img_tab3/4.jpg" width="90%" height="90%"></center> 
    <br>
  </ion-card>

</ion-content>
